<launch>
<!--    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
        <param name="scan" value="scan"/>
        <param name="linearUpdate" value="0.5"/>
        <param name="angularUpdate" value="0.25"/>
        <param name="temporalUpdate" value="5"/>
        <param name="map_update_interval" value="0.5"/>
    </node>-->
    
    <node name="odometry" pkg="rover_motordriver" type="odometry.py"/>
    <include file="$(find rover_motordriver)/launch/small_base.launch" />
    
    <!--<node name="rover_randomwalk" pkg="rover_randomwalk" type="evensmoother_randomwalk.py"/>-->
</launch>
